[Unit]
Description=Docker Container: grafana
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker start -a grafana
ExecStop=/usr/bin/docker stop grafana

[Install]
WantedBy=multi-user.target